body {
  background: url("../img/backgroundBlue.png") no-repeat center fixed;
  -webkit-background-size: cover; /* pour anciens Chrome et Safari */
  background-size: cover; /* version standardisée */
}

nav {
  padding: 0 !important;
  margin-top: 8px;
  font-size: 19px;
  font-weight: normal;
}

nav .leftPart li {
  padding-left: 20px;
}

nav .leftPart li a {
  color: white !important;
}

nav .rightPart {
  padding-left: 12px;
  padding-bottom: 3px;
  border-radius: 5px;
  background-color: #fff;
}

nav li a {
  transition: color 0.1s ease-in-out;
}
nav li a:hover {
  color: #eaa968 !important;
}

.navbar-toggler {
  border: 2px solid #343a40;
}

.app {
  background-color: black;
  height: 1000px;
}
@media only screen and (max-width: 992px) {
  nav .leftPart li {
    padding-left: 0px;
  }

  nav .rightPart {
    padding-left: 0px;
    border-radius: 0px;
    background-color: inherit;
  }

  nav li a {
    color: white !important;
  }
  nav li a:hover {
    color: #eaa968 !important;
  }
}
